.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $heroBgColor;

    text-align: center;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    &__container {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;

        @media screen and (min-width: 480px) {
            width: 480px;
        }
        
        @media screen and (min-width: 768px) {
            width: 768px;
        }
        
        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
    }
    &__title {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    
        color: $textColor;
    
        font-weight: 900;
        font-size: 26px;
        line-height: 1.42;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
            width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    }
    &__button {
        border-radius: 4px;
        text-align: center;
        padding: 10px 24px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
        color: $textColor;
        background-color: $accentColor;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        cursor: pointer;
    
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    &__button:hover,
    &__button:focus {
        background-color: $buttonBgColor;
    }   
}
.overlya {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('..//../images/mobile/header-m-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 479) {
        width: 100%;
    }

    @media screen and (min-width: 480px) {
        width: 480px;
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1600px;
    }

}

@media (min-device-rixel-ratio: 2),  (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .overlya {
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url('..//../images/mobile/header-m-img@2x.jpg');
    }    
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .overlya {
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('..//../images/tablet/header-t-img.jpg');
    }
    @media (min-device-pixel-ratio: 2),  (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .overlya {
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url('..//../images/tablet/header-t-img@2x.jpg');
        }
    }
}
@media screen and (min-width: 1200px) {
    .overlya {
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('..//../images/desktop/d-img.jpg');
    }
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .overlya {
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url('..//../images/desktop/d-img@2x.jpg');
        }
    }
}