.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition-duration: 500ms;
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal-form {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    width: 90%;
    min-height: 609px;
    


    transition-duration: 500ms;
    transform: translate(-50%, -50%) scale(1);

    padding: 40px;

    background-color: $primaryBgColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    @media screen and (min-width: 480px) {
        width: 450px;
        height: 609px;
    }
    @media screen and (min-width: 1200px ) {
        width: 528px;
        height: 581px;
    }

    &__title {
        margin-bottom: 12px;
        
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: $titleTextColor;
    }     
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background-color: $textColor;
    cursor: pointer;

    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &__svg {
        color: $primaryTextColor;

        transition: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__svg:hover,
    &__svg:focus {
        fill: $accentColor;
    }
}

.modal-blok {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &__label {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $listTextColor;
    }

    &__input {
        width: 100%;
        height: 40px;
        margin-top: 4px;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border;

    }

    &__icon {
        position: absolute;
        bottom: 11px;
        left: 12px;
        color: $titleTextColor;
        transition: color;
    }

    &__label:focus-within>&__input,
    &__label:focus-within>&__icon {
        border-color: $buttonBgColor;
        fill: $buttonBgColor;
        outline: none;
    }
}

.textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__label {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $listTextColor;
    }

    &__text {
        width: 100%;
        height: 117px;
        margin-top: 4px;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
    }

    &__label:focus-within>&__text {
        border-color: $buttonBgColor;
        fill: $buttonBgColor;
        outline: none;
    }

    &__text::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}

.topic {
    margin-bottom: 30px;

    &__contract {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__input {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }

    &__svg {
        border: 2px solid $titleTextColor;
        border-radius: 2px;
    }

    &__input:checked + &__svg {
        background-color: $accentColor;
        border: transparent;
        background-size: contain;
        background-origin: border-box;
    }
    &__text {
        font-size: 12px;
        line-height: 1.16;
        
        color: $listTextColor;
        margin-left: 10px;
        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.71;
        }
    }

    &__conditions {
        font-size: 12px;
        margin-left: 3px;
        line-height: 1.16;

        text-decoration: underline $accentColor;
        color: $accentColor;
        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.71;
        }
    }
}

.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;

    &__send {
        width: 200px;
        height: 50px;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;

        background-color: $accentColor;
        color: $textColor;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        align-items: center;
        text-align: center;

        transition: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__send:hover,
    &__send:focus {
        background-color: $buttonBgColor;
    }
}