.button-header {
    background-color: transparent;
    color: $titleTextColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-header:hover,
.button-header:focus {
    fill: $accentColor;
}
@media screen and ( min-width: 768px) {
    .button-header {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .menu-container {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        padding: 40px 48px;
        background-color: $primaryBgColor;
        z-index: 1;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
    }
    .menu-container.is-open {
        opacity: 1;
        transform: translateX(0);
    }
    .menu-button {
        position: absolute;
        right: 15px;
        top: 10px;
        color: $titleTextColor;
        transition-property: color;
        background-color: transparent;
    }
}
@media screen and (min-width: 768px) {
    .menu-container {
        display: flex;
    }
}
@media screen and (min-width: 768px) {
    .menu-button {
      display: none;
    }
}

.menu-button:hover,
.menu-button:focus {
    fill: $accentColor;
}
@media screen and (max-width: 767px) {
    .menu-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.menu-nav {

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: 767px) {
        &__item:nth-child(-n+2) {
            margin-bottom: 32px;
        }
    }

    @media screen and (min-width: 768px) {
        &__item:not(:first-child) {
            margin-left: 50px;
        }
    }
    @media screen and (max-width: 767px) {
        &__studio,
        &__portfolio,
        &__contact {
        
        
            color: $titleTextColor;
        
            font-weight: 500;
            font-size: 40px;
            line-height: 1.17;
            letter-spacing: 0.02em;
        
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    @media screen and (min-width: 768px) {
        &__studio,
        &__portfolio,
        &__contact {
            position: relative;
            display: block;
            padding-top: 32px;
            padding-bottom: 32px;

            color: $titleTextColor;

            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
        }
        &__studio.current {
            color: $accentColor;
        }
        &__studio.current::after,
        &__portfolio.current::after,
        &__contact.current::after {
            display: block;
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            bottom: 0;
        
            background-color: $accentColor;
            border-radius: 2px;
        }
    }
  
    &__studio:hover,
    &__studio:focus,
    &__portfolio:hover,
    &__portfolio:focus,
    &__contact:hover,
    &__contact:focus {
        color: $accentColor;
    }
}

.menu-contact {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 90px; 
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
    }
    @media screen and (min-width: 1200px) {
        flex-direction: row-reverse;
        align-items: center;
        margin-left: 305px;
    }
    @media screen and (max-width: 767px) {
        &__icon {
            display: none;
        }
    }

    &__tel {
        display: block;
        margin-bottom: 32px;

        color: $accentColor;

        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        @media screen and (max-width: 400px) {
            font-size: 25px;
        }
    }

    &__com {
        display: block;

        color: $listTextColor;

        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 768px) {
        &__tel,
        &__com {
            display: inline-flex;
            align-items: center;
            color: $listTextColor;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.14;
        }
    }    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &__tel {
            margin-bottom: 21px;
        }
        &__com {
            margin-bottom: 10px;
         }
    }
    @media screen and (min-width: 1200px) {
        &__tel,
        &__com{
            margin: 0;
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
    @media screen and (min-width: 1200px) {
        &__item:first-child {
            margin-left: 50px;
        }
    }
    @media screen and (min-width: 768px) {
        &__tel:hover,
        &__com:hover,
        &__tel:focus,
        &__com:focus,
        &__icon:hover,
        &__icon:focus {
            color: $accentColor;
        }
    }
    &__icon {
        margin-right: 10px;
        fill: $listTextColor;
        fill: currentColor;
    }
}

.mobil-social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;


    &__solid {
        height: 22px;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    }

    &__con {
        color: $accentColor;

        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        
    }
    
}
@media screen and (min-width: 768px) {
    .mobil-social {
        display: none;
    }
}


