.team {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    background: $secondBgColor;

    &__container {

        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        @media screen and (min-width: 480px) {
            width: 480px;
        }
        
        @media screen and (min-width: 768px) {
            width: 768px;
        }
        
        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
    }
    &__title {
        margin-bottom: 50px;
        text-align: center;
    
        color: $titleTextColor;
    
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        @media screen and (min-width: 1200px) {
            font-size: 36px;
        }
    }
}
.carta {
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 767px){
    .carta__specialist:nth-child(-n+3) {
        margin-bottom: 30px;
    }
}    
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .carta__specialist:nth-child(2n) {
        margin-left: 30px;

    }

    .carta__specialist:nth-child(-n+2) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .carta__specialist:nth-child(n+2) {
        margin-left: 30px;
    }
}

@media screen and (min-width: 768px) {
    .carta__specialist {
        width: 354px;
    }
}
@media screen and (min-width: 1200px) {
    .carta__specialist {
        width: 270px;
    }
}

.carta__specialist {
    background: $primaryBgColor;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    border-radius: 0px 0px 4px 4px;
   
}
.carta__blok {
    padding-top: 24px;
    padding-bottom: 30px;
    @media screen and (min-width: 1200px) {
        padding-top: 30px;
    }
}
.carta__name {
    
    color: $titleTextColor;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.carta__profession {
    margin-top: 10px;
    
    color: $listTextColor;
    
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    &__social:not(:first-child) {
        margin-left: 10px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: $iconaClientColor;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover,
    &__link:focus {
        background-color: $accentColor;
        color: $textColor;
    }
    &__svg {
        fill: currentColor;
    }
}