$primaryTextColor: #000000;
$titleTextColor: #212121;
$accentColor: #2196F3;
$listTextColor: #757575;
$primaryBgColor: #FFFFFF;
$textColor: #FFFFFF;
$secondBgColor: #F5F4FA;
$heroBgColor: #2F303A;
$buttonBgColor: #188CE8;
$mailTelColor: rgba(255, 255, 255, 0.6);
$borderHeaderColor: #ECECEC;
$borderCartaColor: #EEEEEE;
$iconaClientColor: #AFB1B8;
$mainFont: Roboto, sans-serif;
$mainSize: 14px;
$mainSpacing: 0.03em;
$webFont: Raleway, sans-serif;